In [3]:
def sum():
    a = 10
    b = 20
    print(a + b)

def paraCalc(a, b, operator):
    if operator == "+":
        print(a + b)
    elif operator == "-":
        print(a - b)
    else:
        print("Invalid Operator")


paraCalc(15, 60, "+")
sum()

75
30

NORMAL FUNCTION

In [4]:
def h():
    print('i am programmer')
    print('i am developer')
h()

i am programmer
i am developer

In [7]:
def d():
    a=22
    b=44
    print(a+b)
def s(a,b,op):
    if op=="+":
        print(a+b)
    elif op=='-':
        print(a-b)
    else:
        print('invalid')
s(22,33,"+") 
d()

55
66

In [10]:
def add(a,b,op):
    if op=='*':
        print(a+b)

add(2,3,"*")

5

In [13]:
def ss(a=0,b=0,op="*"):
    if op=='+':
        print(a+b)
    elif op=='-':
        print(a-b)
    elif op=='*':
        print(a*b)    
ss(2,3,"+")

5

In [15]:
def a(a,b,c):
    print(a+b-c)
a(10,5,5)

10

In [24]:
def ss(*f):
    count=0
    for i in f:
        count+=i
    print(type(f))
    print(count)
ss(1,2,3)

<class 'tuple'>
6

In [22]:
def ss(**keys):
    print(type(keys))
    print(keys)
ss(name='ramesh',age='20',occupation='fresher')

<class 'dict'>
{'name': 'ramesh', 'age': '20', 'occupation': 'fresher'}

In [13]:
# normal functiion
a=22
def printhello():
    print('hello ramesh')
printhello()   
printhello()

hello ramesh
hello ramesh

In [16]:
# default function
def cal(a=0,b=0,op=''):
    if op=="+":
        print(a+b)
    elif op=='-':
        print(a-b)
    elif op=='/':
        print(a/b)
    elif op=='*':
        print(a*b)
    elif op=='//':
        print(a//b)
    elif op=='**':
        print(a**b)
    elif op=='':
        print('enter operatin')
    else:
        print('invalid content')
cal(33,44,'+')

77

In [19]:
def para(a,b,op):
    if op=="+":
        print(a+b)
    elif op=='-':
        print(a-b) 
    else:
        print('invalid')
para(2,3,"+")

5

In [22]:
# arbitrary
def a(a,b,c,d):
    d=a+b+c+d
    print(d)
    print(type(a))
    print(type(d))
a(1,2,3,4)

10
<class 'int'>
<class 'int'>

In [26]:
def su(*we):
    total=0
    for i in we:
        total+=i
    print(total)
    print(type(we))
su(1,2,3,4,5,6,7,8,9,10)

55
<class 'tuple'>