dictionary

In [1]:
dic1={'name':'ramesh','age':20,'location':'ranipet'}
print(dic1,type(dic1))
print(len(dic1))

{'name': 'ramesh', 'age': 20, 'location': 'ranipet'} <class 'dict'>
3

In [4]:
dic2={'name':'ramesh','age':20,'location':'ranipet'}
# access dictionary items used to keys
a=dic2['name']
print(dic2['age'])
print(dic2['location'])
print(a)

20
ranipet
ramesh

In [ ]:
print(dic2.get('name'))
print(dic2.get('location'))

ramesh

In [7]:
dic2={'name':'ramesh','age':20,'location':'ranipet'}
print(dic2.keys())
print(dic2.values())
print(dic2.items())

dict_keys(['name', 'age', 'location'])
dict_values(['ramesh', 20, 'ranipet'])
dict_items([('name', 'ramesh'), ('age', 20), ('location', 'ranipet')])

In [8]:
dic2={'name':'ramesh','age':20,'location':'ranipet'}
dic2['occupation']='student'
print(dic2)

{'name': 'ramesh', 'age': 20, 'location': 'ranipet', 'occupation': 'student'}

In [10]:
dic2={'name':'ramesh','age':20,'location':'ranipet'}
dic2.update(
    {
        'ocupation':'student',
        'dept':'bca'
    }
)
print(dic2)

{'name': 'ramesh', 'age': 20, 'location': 'ranipet', 'ocupation': 'student', 'dept': 'bca'}

In [13]:
dic3={'name': 'ramesh', 'age': 20, 'location': 'ranipet', 'occupation': 'student', 'dept': 'bca'}
dic3.pop('dept')
dic3.pop('occupation')
print(dic3)

{'name': 'ramesh', 'age': 20, 'location': 'ranipet'}

In [1]:
dic4={'name': 'ramesh', 'age': 20, 'location': 'ranipet', 'ocupation': 'student', 'dept': 'bca'}
dic4.popitem()
dic4.popitem()
dic4.popitem()
dic4

{'name': 'ramesh', 'age': 20}

In [1]:
a={'name':'ramesh','age':20,'location':'ranipet'}
print(type(a),a,len(a))

<class 'dict'> {'name': 'ramesh', 'age': 20, 'location': 'ranipet'} 3

In [7]:
c={'name':'ramesh','age':20,'location':'ranipet'}
print(c['name'])
print(c['age'])
print(a.keys())
print(a.values())
print(a.items())
print(a.get('name'))

ramesh
20
dict_keys(['name', 'age', 'location'])
dict_values(['ramesh', 20, 'ranipet'])
dict_items([('name', 'ramesh'), ('age', 20), ('location', 'ranipet')])
ramesh

In [8]:
a={'name':'ramesh','age':20,'location':'ranipet'}
a['name']='ram'
a['occupation']='student'
print(a)

{'name': 'ram', 'age': 20, 'location': 'ranipet', 'occupation': 'student'}

In [11]:
a.update({
    'fruites':'banana',
    'food':'biriyani'
})
print(a)
print(len(a))

{'name': 'ram', 'age': 20, 'location': 'ranipet', 'occupation': 'student', 'fruites': 'banana', 'food': 'biriyani'}
6

In [18]:
a={'name': 'ram', 'age': 20, 'location': 'ranipet', 'occupation': 'student', 'fruites': 'banana', 'food': 'biriyani'}
a.pop('name')
a.popitem()
a.clear()
a

{}

In [ ]:
a=dict(a)
c=a.copy()