In [3]:
# list length
a=[1,2,3,4,5,6,7]
print(len(a))

sec_list=['banana','orange','cherry','kiwi','apple']
print(len(sec_list))

7
5

In [9]:
# accessing
list_1=['ramesh','arul','arun','aravind','madhan']
print(list_1[1:])
print(list_1[:-1])
print(list_1[:])
print(list_1[0:2])
print(list_1[2])

['arul', 'arun', 'aravind', 'madhan']
['ramesh', 'arul', 'arun', 'aravind']
['ramesh', 'arul', 'arun', 'aravind', 'madhan']
['ramesh', 'arul']
arun

In [ ]:
# changing specific list items
list_1=['ramesh','arul','arun','aravind','madhan']
list_1[0]='Ramesh'
list_1[1]='Arul'
list_1[2]='Arun'
list_1[3]='Aravind'

['Ramesh', 'Arul', 'Arun', 'Aravind', 'madhan']

In [10]:
a=['ramesh','arul','arun','aravind','madhan']
a[1:2]=['apple','cherry']
a

['ramesh', 'apple', 'cherry', 'arun', 'aravind', 'madhan']

In [ ]:
# add-item in list / append('  ') add value last position in list
a=[]
a.append('apple')
a.append('cherry')
a.append('pineapple')
a.append('watermelon')
a.append('kiwi')
a

['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']

In [ ]:
# insert  value specific position usind index .insert(1,'')
b_list=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
b_list.insert(0,'orange')
b_list.insert(1,'graphes')
b_list.insert(2,'pomegranate')
b_list

['orange',
 'graphes',
 'pomegranate',
 'apple',
 'cherry',
 'pineapple',
 'watermelon',
 'kiwi']

In [14]:
# extend list in last / a.extend(b)
a=[1,2,3,4,5,6]
b=[7,8,9,10]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Remove

In [18]:
# remove specific value using / a.remove('')
a=['banana','cherry','apple','graphes']
a.remove('banana')
a.remove('cherry')
a.remove('apple')
a

['graphes']

In [20]:
# .pop(i) remove to specific value to index values 
p_list=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
p_list.pop(0)
p_list.pop(0)
p_list.pop(2)
p_list

['pineapple', 'watermelon']

In [21]:
# remove last item in list using .pop() without indexing
a=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
a.pop()
a.pop()
a.pop()
a.pop()
print(a)

['apple']

Sort

In [23]:
a=[9,7,8,6,5,4,3,1,2]
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# ascending
apha=['orange','banana','cherry','apple','dragonfruit']
apha.sort()
apha

['apple', 'banana', 'cherry', 'dragonfruit', 'orange']

In [ ]:
# descending
a=['apple', 'banana', 'cherry', 'dragonfruit', 'orange']
a.sort(reverse = True)
a

['orange', 'dragonfruit', 'cherry', 'banana', 'apple']

In [26]:
a=[1,2,3,4,5,6,7,8]
a.reverse()
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
# copy()
a=[1,2,3,4,5]
b=a.copy()
print(id(a))
print(id(b))
print(a,b)

1952987606528
1952973463744
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [28]:
a=[1,2,3,4,5]
b=a[:]
b

[1, 2, 3, 4, 5]

In [30]:
c=[1,2,3,4,5]
a=list(c)
b=c
print(c)
a

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [2]:
# list
first_list=['ramesh','suresh','arul','madhana gopal','kumaravel','parthiban','dillibabu']
print(len(first_list))

7

In [4]:
first_list=['ramesh','suresh','arul','madhana gopal','kumaravel','parthiban','dillibabu']
print(first_list.count('ramesh'))

1

In [6]:
first_list=['ramesh','suresh','arul','madhana gopal','kumaravel','parthiban','dillibabu']
if 'ramesh' in first_list:
    print('yes')
else :
    print('invalid')

yes

In [10]:
# list access 
first_list=['ramesh','suresh','arul','madhana gopal','kumaravel','parthiban','dillibabu']
print(first_list[0])
print(first_list[-1])
print(first_list[0:])
print(first_list[0:])
print(first_list[2:4])

ramesh
dillibabu
['ramesh', 'suresh', 'arul', 'madhana gopal', 'kumaravel', 'parthiban', 'dillibabu']
['ramesh', 'suresh', 'arul', 'madhana gopal', 'kumaravel', 'parthiban', 'dillibabu']
['arul', 'madhana gopal']

In [11]:
# liast slicing
print(first_list[0:4])

['ramesh', 'suresh', 'arul', 'madhana gopal']

In [13]:
# list update
first_list=['ramesh','suresh','arul','madhana gopal','kumaravel','parthiban','dillibabu']
first_list[0]='Ramesh'
first_list[1:3]=['Suresh','Arul']
first_list[3:]=['Madhanagopal','Kumaravel','Parthiban','Dillibabu']
print(first_list)

['Ramesh', 'Suresh', 'Arul', 'Madhanagopal', 'Kumaravel', 'Parthiban', 'Dillibabu']

In [ ]:
# list append insert data form last
sec_list=[]
sec_list.append('banana')
sec_list.append('cherry')
sec_list.append('apple')
sec_list.append('pineapple')
sec_list.append('graphes')
print(sec_list)

['banana', 'cherry', 'apple', 'pineapple', 'graphes']

In [16]:
# insert data from specific index value 
third_list=['banana', 'cherry', 'apple', 'pineapple', 'graphes']
third_list.insert(0,'lemon')
third_list.insert(1,'watermelon')
print(third_list)

['lemon', 'watermelon', 'banana', 'cherry', 'apple', 'pineapple', 'graphes']

In [17]:
# extend list from onlist to another list
a=[1,2,3,4,5,6]
b=[7,8,9,10,11]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Remove form list items

In [19]:
a=['ramesh','suresh','arul','madhanagopal']
# remove() used to remove specified valuse
a.remove('ramesh')
a.remove('suresh')
a.remove('arul')
a.remove('madhanagopal')
print(a)

[]

In [22]:
# pop(i) pop used to remove specific index to remove value
a=[1,2,3,4,5,6,5]
a.pop(0)
a.pop(5)
print(a)

[2, 3, 4, 5, 6]

In [23]:
s_list=[1,2,3,4,5]
s_list.pop()
s_list.pop()
print(s_list)

[1, 2, 3]

In [24]:
a_list=['banana', 'cherry', 'apple', 'pineapple', 'graphes']
del a_list[0:2]
print(a_list)

['apple', 'pineapple', 'graphes']

In [ ]:
# delete entier list
c=['banana', 'cherry', 'apple', 'pineapple', 'graphes']
del c

In [ ]:
# remove all list items 
a=['banana', 'cherry', 'apple', 'pineapple', 'graphes']
a.clear()
print(a)

[]

In [29]:
a=[1,2,3,4,5,6,7,8,9,0]
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
a=[77,66,33,44,55,22,97,6,6]
a.sort(reverse=True)
a

[97, 77, 66, 55, 44, 33, 22, 6, 6]

In [32]:
a=[77,66,33,44,55,22,97,6,6]
a.reverse()
print(a)

[6, 6, 97, 22, 55, 44, 33, 66, 77]

In [ ]:
# copy of list items main purpose stored data form different memory location
a=[77,66,33,44,55,22,97,6,6]
b=a.copy()
print(id(a))
print(id(b))
print(a)
print(b)

1688687864448
1688688155328
[77, 66, 33, 44, 55, 22, 97, 6, 6]
[77, 66, 33, 44, 55, 22, 97, 6, 6]

In [36]:
a=[77,66,33,44,55,22,97,6,6]
c=list(a)
print(id(a))
print(id(c))
print(a)
print(c)

1688688125888
1688688047040
[77, 66, 33, 44, 55, 22, 97, 6, 6]
[77, 66, 33, 44, 55, 22, 97, 6, 6]

In [37]:
c=[1,2,3,4,56]
a=c[:]
print(id(a))
print(id(c))
print(a,c)

1688688192832
1688688034752
[1, 2, 3, 4, 56] [1, 2, 3, 4, 56]

In [39]:
a=[1,2,3,4,5,6]
b=[7,8,9,0]
d=b+a
print(d)

[7, 8, 9, 0, 1, 2, 3, 4, 5, 6]