In [3]:
# list length
a=[1,2,3,4,5,6,7]
print(len(a))

sec_list=['banana','orange','cherry','kiwi','apple']
print(len(sec_list))

7
5

In [9]:
# accessing
list_1=['ramesh','arul','arun','aravind','madhan']
print(list_1[1:])
print(list_1[:-1])
print(list_1[:])
print(list_1[0:2])
print(list_1[2])

['arul', 'arun', 'aravind', 'madhan']
['ramesh', 'arul', 'arun', 'aravind']
['ramesh', 'arul', 'arun', 'aravind', 'madhan']
['ramesh', 'arul']
arun

In [ ]:
# changing specific list items
list_1=['ramesh','arul','arun','aravind','madhan']
list_1[0]='Ramesh'
list_1[1]='Arul'
list_1[2]='Arun'
list_1[3]='Aravind'

['Ramesh', 'Arul', 'Arun', 'Aravind', 'madhan']

In [10]:
a=['ramesh','arul','arun','aravind','madhan']
a[1:2]=['apple','cherry']
a

['ramesh', 'apple', 'cherry', 'arun', 'aravind', 'madhan']

In [ ]:
# add-item in list / append('  ') add value last position in list
a=[]
a.append('apple')
a.append('cherry')
a.append('pineapple')
a.append('watermelon')
a.append('kiwi')
a

['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']

In [ ]:
# insert  value specific position usind index .insert(1,'')
b_list=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
b_list.insert(0,'orange')
b_list.insert(1,'graphes')
b_list.insert(2,'pomegranate')
b_list

['orange',
 'graphes',
 'pomegranate',
 'apple',
 'cherry',
 'pineapple',
 'watermelon',
 'kiwi']

In [14]:
# extend list in last / a.extend(b)
a=[1,2,3,4,5,6]
b=[7,8,9,10]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Remove

In [18]:
# remove specific value using / a.remove('')
a=['banana','cherry','apple','graphes']
a.remove('banana')
a.remove('cherry')
a.remove('apple')
a

['graphes']

In [20]:
# .pop(i) remove to specific value to index values 
p_list=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
p_list.pop(0)
p_list.pop(0)
p_list.pop(2)
p_list

['pineapple', 'watermelon']

In [21]:
# remove last item in list using .pop() without indexing
a=['apple', 'cherry', 'pineapple', 'watermelon', 'kiwi']
a.pop()
a.pop()
a.pop()
a.pop()
print(a)

['apple']

Sort

In [23]:
a=[9,7,8,6,5,4,3,1,2]
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# ascending
apha=['orange','banana','cherry','apple','dragonfruit']
apha.sort()
apha

['apple', 'banana', 'cherry', 'dragonfruit', 'orange']

In [ ]:
# descending
a=['apple', 'banana', 'cherry', 'dragonfruit', 'orange']
a.sort(reverse = True)
a

['orange', 'dragonfruit', 'cherry', 'banana', 'apple']

In [26]:
a=[1,2,3,4,5,6,7,8]
a.reverse()
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
# copy()
a=[1,2,3,4,5]
b=a.copy()
print(id(a))
print(id(b))
print(a,b)

1952987606528
1952973463744
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [28]:
a=[1,2,3,4,5]
b=a[:]
b

[1, 2, 3, 4, 5]

In [30]:
c=[1,2,3,4,5]
a=list(c)
b=c
print(c)
a

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]