In [1]:
a={1,2,3,4,5,6}
print(len(a))
print(type(a))
print(a)

6
<class 'set'>
{1, 2, 3, 4, 5, 6}

In [ ]:
# add items in set add()
a={'apple','cherry','banana'}
a.add('pineapple')
a.add('lemon')
print(a)

{'apple', 'lemon', 'pineapple', 'cherry', 'banana'}

In [ ]:
# update used to add another set in this set
a={'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c={True,1,0,False}
c.update(a)
print(c)

{0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}

In [7]:
# remove used to remove specific set items
c1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c1.remove(1)
c1.remove('apple')
c1

{0, 'banana', 'cherry', 'lemon', 'pineapple'}

In [8]:
# discard remove specific values
z1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
z1.discard('apple')
z1.discard(1)
z1.discard(False)
z1

{'banana', 'cherry', 'lemon', 'pineapple'}

In [9]:
x1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
del x1

In [10]:
c1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c1.clear()

In [ ]:
# union join two sets and remove same values
a={1,2,3,4}
b={1,2,3,4,5,6,7,8,9,0}
c=a.union(b)
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
# update( )  used to join two sets
a={11,22,33}
b={11,55,44}
a.update(b)
print(a)

{33, 22, 55, 11, 44}

In [5]:
# intersection return new set that only contain item present in both set
a={11,22,33}
b={11,55,44}
w=a.intersection(b)
print(w)

{11}

In [6]:
# intersectin and update
a={11,22,33}
b={11,55,44}
a.intersection_update(b)
print(a)

{11}

In [ ]:
# difference will return new set
a={11,22,33}
b={11,55,44}
c=a.difference(b)
print(c)

{33, 22}

In [8]:
# difference and update 
a={11,22,33}
b={11,55,44}
a.difference_update(b)
print(a)

{33, 22}

In [9]:
# symmetric
a={11,22,33}
b={11,55,44}
a.symmetric_difference_update(b)
print(a)

{33, 44, 22, 55}