In [1]:
a={1,2,3,4,5,6}
print(len(a))
print(type(a))
print(a)

6
<class 'set'>
{1, 2, 3, 4, 5, 6}

In [ ]:
# add items in set add()
a={'apple','cherry','banana'}
a.add('pineapple')
a.add('lemon')
print(a)

{'apple', 'lemon', 'pineapple', 'cherry', 'banana'}

In [ ]:
# update used to add another set in this set
a={'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c={True,1,0,False}
c.update(a)
print(c)

{0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}

In [7]:
# remove used to remove specific set items
c1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c1.remove(1)
c1.remove('apple')
c1

{0, 'banana', 'cherry', 'lemon', 'pineapple'}

In [8]:
# discard remove specific values
z1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
z1.discard('apple')
z1.discard(1)
z1.discard(False)
z1

{'banana', 'cherry', 'lemon', 'pineapple'}

In [9]:
x1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
del x1

In [10]:
c1={0, True, 'apple', 'lemon', 'pineapple', 'cherry', 'banana'}
c1.clear()

In [ ]:
# union join two sets and remove same values
a={1,2,3,4}
b={1,2,3,4,5,6,7,8,9,0}
c=a.union(b)
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
# update( )  used to join two sets
a={11,22,33}
b={11,55,44}
a.update(b)
print(a)

{33, 22, 55, 11, 44}

In [5]:
# intersection return new set that only contain item present in both set
a={11,22,33}
b={11,55,44}
w=a.intersection(b)
print(w)

{11}

In [6]:
# intersectin and update
a={11,22,33}
b={11,55,44}
a.intersection_update(b)
print(a)

{11}

In [ ]:
# difference will return new set
a={11,22,33}
b={11,55,44}
c=a.difference(b)
print(c)

{33, 22}

In [8]:
# difference and update 
a={11,22,33}
b={11,55,44}
a.difference_update(b)
print(a)

{33, 22}

In [9]:
# symmetric
a={11,22,33}
b={11,55,44}
a.symmetric_difference_update(b)
print(a)

{33, 44, 22, 55}

In [1]:
set2 ={1,2,3,4,5,6}
print(type(set2))
print(len(set2))


c=0
for i in set2:
    c+=1
print(c)

<class 'set'>
6
6

In [5]:
for i in set2:
    print(i)
    if i==2:
        print("two")
print(2 in set2)

1
2
two
3
4
5
6
True

In [8]:
a={'elonmusk','tesla','starlink','x'}
a.add('google')
a.add('sets')
b={1,2,3,4}
a.update(b)
print(a)

{1, 2, 3, 4, 'starlink', 'tesla', 'elonmusk', 'sets', 'x', 'google'}

In [10]:
z={1, 2, 3, 4, 'starlink', 'tesla', 'elonmusk', 'sets', 'x', 'google'}
z.remove(1)
z.remove('google')
z.discard('elonmusk')
z.discard('tesla')
z.clear()
z

set()

In [12]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}
set1=a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}
u=a.union(b)
u

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}
c=a.intersection(b)
c

{1, 2, 3, 4, 5}

In [17]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}
a.intersection_update(b)
a

{1, 2, 3, 4, 5}

In [22]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}
s=b.difference(a)
s

{6, 7, 8, 9}

In [ ]:
a={1,2,3,4,5,11,22}
b={1,2,3,4,5,6,7,8,9}
b.difference_update(a)
b

{6, 7, 8, 9}

In [25]:
a={1,2,3,4,5,11,22,33}
b={1,2,3,4,5,6,7,8,9}
c=a.symmetric_difference(b)
c

{6, 7, 8, 9, 11, 22, 33}

In [26]:
a={1,2,3,4,5,11,22,33}
b={1,2,3,4,5,6,7,8,9}
a.symmetric_difference_update(b)
a

{6, 7, 8, 9, 11, 22, 33}