In [1]:
print('hello')

hello

In [2]:
a='''hello i am ramesh come from chennai 
and currently i am working developer'''
print(a)

hello i am ramesh come from chennai
and currently i am working developer

In [3]:
'''i am ramesh
from ranipet 
currently working on this companny'''

'i am ramesh\nfrom ranipet \ncurrently working on this companny'

In [4]:
# string array
a='ramesh'
print(a[2])
print(a[1])
print(a[0])

m
a
r

In [5]:
# length of string
text='kumaravel'
print(len(text))

9

In [7]:
# string slicing
a='ksk college of arts and science'
print(a[0:11])
print(a[11:])

ksk college
 of arts and science

In [8]:
a='ramesh'
print(a.upper())

RAMESH

In [9]:
c='I AM RAMESH'
print(c.lower()
      )

i am ramesh

In [14]:
a='   ramesh  '
b='ramesh'
print(len(a))
print(len(b))
print(a.strip())

11
6
ramesh

In [19]:
c1='i am ramesh '
print(c1.split( ))

['i', 'am', 'ramesh']

In [20]:
ques='what is your name ...?'
print(ques.capitalize())

What is your name ...?

In [22]:
ques='what is your name ...?'
print(ques.center(30))

    what is your name ...?

In [23]:
a=[1,2,3,4,3,1,2,3,5,6,4,7]
print(a.count(1))
print(a.count(2))
print(a.count(3))

2
2
3

In [24]:
ques='what is your name ...?'
print(ques.endswith('?'))

True

In [25]:
ques='what is your name ...?'
print(ques.find('?'))

21

In [26]:
ques='what is your name ...?'
print(ques.isalpha())

False

In [27]:
ques='what is your name ...?'
print(ques.title())

What Is Your Name ...?

In [2]:
a='ramesh'
print(a.index('a'))
print(a.find('a'))

1
1

In [ ]:
num=int(input())
a=[]
b=[]
if num>1:
    for i in range(2,num):
        if num%i==0:
            a.append(i)
            
        else:
            b.append(num)
            
else:
    print(num,'is not prime')     
print('prime:',a) 
print('composite:',b)

prime: [2, 5, 10, 25]
composite: [50, 50]

In [6]:
a='i am ramesh'
print(a[:-1])

i am rames

In [7]:
print(len(a))

11

In [20]:
a='    qwert   ' 
print(a.upper())
print(a.lower())
print(a.strip())
print(a.lstrip())
print(a.rstrip())
print(a.split('e'))
r='ram'
b='esh'
c=r+' '+b
print(r+b)
print(c)

    QWERT
    qwert
qwert
qwert
    qwert
['    qw', 'rt   ']
ramesh
ram esh

In [21]:
a=22
c=33
txt=f"i am {a}{b}"
print(txt)

i am 22esh

In [26]:
a='ramesh'
print(a.capitalize())
print(a.center(20))
print(a.count(r))
print(a.endswith('h'))
print(a.find('h'))

Ramesh
       ramesh
1
True
5

In [27]:
a='i am ramesh {price}'
print(a.format(price=300))

i am ramesh 300

In [2]:
a='i am living in chennai '
print(a.isalpha())
print(a.rfind('living'))
print(a.istitle())
print(a.rindex('living'))

False
5
False
5

In [5]:
print(a.upper())
print(a.title())
print(a.swapcase())

I AM LIVING IN CHENNAI
I Am Living In Chennai
I AM LIVING IN CHENNAI