In [1]:
print('hello')

hello

In [2]:
a='''hello i am ramesh come from chennai 
and currently i am working developer'''
print(a)

hello i am ramesh come from chennai
and currently i am working developer

In [3]:
'''i am ramesh
from ranipet 
currently working on this companny'''

'i am ramesh\nfrom ranipet \ncurrently working on this companny'

In [4]:
# string array
a='ramesh'
print(a[2])
print(a[1])
print(a[0])

m
a
r

In [5]:
# length of string
text='kumaravel'
print(len(text))

9

In [7]:
# string slicing
a='ksk college of arts and science'
print(a[0:11])
print(a[11:])

ksk college
 of arts and science