In [2]:
# tuple
t1=(1,2,3,4,5,6,7,2,7,6,8,9,6,2,3,5,8)
print(t1.count(3))
print(t1.count(1))
print(t1.count(5))

2
1
2

In [3]:
print(t1.index(5))

4

In [2]:
# tuple
# count indexing
t1=(1,2,3,4,5,6,7,8,9,1,2,3,2,1,2,4,4,56,5,7)
print(t1.count(2))
print(t1.count(1))
print(t1.count(3))

4
3
2

In [5]:
s1=(1,2,3,4,5,6,7,8,9)
print(s1.index(9))
print(s1.index(4))

8
3

In [6]:
fruits=('bananan','cherry','apple')
(a,b,c)=fruits
print(a)
print(b)
print(c)

bananan
cherry
apple

In [8]:
fruits=('bananan','cherry','apple','cherry')
(a,b,*c)=fruits
print(a)
print(b)
print(c)

bananan
cherry
['apple', 'cherry']

In [9]:
a=(1,2,3,34)
c=a*2
print(c)

(1, 2, 3, 34, 1, 2, 3, 34)

In [1]:
tuple1=(1,2,3,4,5,6,7)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)

In [4]:
c=int(input())
d=[]
for i in range(c):
    a=int(input())
    d.append(a)
print(d)

[1, 2, 3, 4, 5, 6]

In [5]:
c=int(input())
d=[]
for i in range(c):
   
    d.append(i)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
x=(0, 1, 2, 3, 4, 5, 6, 7,1,2,1,2, 8, 9)
print(x[2])
print(x[4])
print(x.count(2))
print(x.index(2))

2
4
3
2

In [17]:
a=(1,2,3,2,3)
(one,two,*three)=a
print(two)
print(one)
print(three)

2
1
[3, 2, 3]

In [14]:
t1=(1,2,3)
t2=t1*2
t2

(1, 2, 3, 1, 2, 3)

In [16]:
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
c

(1, 2, 3, 4, 5, 6, 7, 8)