 VARABLES

 variables are containner for storing value and data.

In [1]:
x=5
p=7
print(x,p)

5 7

Variables rulese

 a variable name  must start with letters (a-z) or(A-Z) and underscore.

 variable name cannot start with a number. if want number to create variable can be start underscore(_) included digits 0-9 and special characters.

 no space alloweded alternative you can use undersocre. cannot use python keywords , reserve words.

 python is a case sensitive name != Name.

In [2]:
a='i am ramesh'
c=' i old '
b=20
print(a,c,b)

i am ramesh  i old  20

In [ ]:
my_name=
MY_NAME=
_1=
RA_=

In [3]:
# ASSIGN MULTIPLE VALUES AND MARIABLES
# assign same values
a=c=b=100
print(a)
print(b)
print(c)

100
100
100

In [4]:
# assign multiple values
a,b,c='ramesh','location','chennai'
print(a,b,c)
print(a+b+c)

ramesh location chennai
rameshlocationchennai