 VARABLES

 variables are containner for storing value and data.

In [1]:
x=5
p=7
print(x,p)

5 7

Variables rulese

 a variable name  must start with letters (a-z) or(A-Z) and underscore.

 variable name cannot start with a number. if want number to create variable can be start underscore(_) included digits 0-9 and special characters.

 no space alloweded alternative you can use undersocre. cannot use python keywords , reserve words.

 python is a case sensitive name != Name.

In [2]:
a='i am ramesh'
c=' i old '
b=20
print(a,c,b)

i am ramesh  i old  20

In [ ]:
my_name=
MY_NAME=
_1=
RA_=

In [3]:
# ASSIGN MULTIPLE VALUES AND MARIABLES
# assign same values
a=c=b=100
print(a)
print(b)
print(c)

100
100
100

In [ ]:
# assign multiple values
# python allows multiple variables to be assign muliple values in single line

a,b,c='ramesh','location','chennai'
print(a,b,c)
print(a+b+c)

ramesh location chennai
rameshlocationchennai

Type casting a variable

if want specific data type of variable use it.

In [6]:
a=int(22.0)
b=float(44)
c=str(10)
d=complex(2j+5j)
print(a)
print(b)
print(c)
print(d)
print(type(d))

22
44.0
10
7j
<class 'complex'>

Casting 

cating means if want to get the data type of variable using with type().

In [7]:
a=(22.0)
b=(44)
c=(10)
d=(2j+5j)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [11]:
# type converstion
a='2j+5j'
b=22
c=33.5
b=1+4j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a,b,c,d)

#after conversion

a1=str('2j+4j')
b1=float(44)
c1=int(22.3)
d1=str(44)
print(type(a1))
print(type(b1))
print(type(c1))
print(type(d1))
print(a1,b1,c1,d1)

<class 'str'>
<class 'complex'>
<class 'float'>
<class 'complex'>
2j+5j (1+4j) 33.5 7j
<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>
2j+4j 44.0 22 44

In [12]:
#swapping

a,b=10,55
print(a,b)
a,b=b,a
print(a,b)

10 55
55 10

In [13]:
a='ramesh '
print(len(a))

7

In [3]:
a='ramesh'
c='eats'
b='banana'
c,b=b,c
print(a,b,c)

ramesh eats banana

In [4]:
a=b=c=22
print(a+b+c)

66

In [5]:
a,b,c=22,33,11
print(a+b+c)

66

In [6]:
a=int(22.5)
b=float(22)
c=str(22)
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [7]:
a=int(22.5)
b=float(22)
c=str(22)
a1=float(a)
b1=int(b)
c1=int(c)
print(a,b,c,type(a),type(b),type(c))
print(a1,b1,c1,type(a1),type(b1),type(c1))

22 22.0 22 <class 'int'> <class 'float'> <class 'str'>
22.0 22 22 <class 'float'> <class 'int'> <class 'int'>

In [8]:
d=22
del d
d

NameError: name 'd' is not defined

In [11]:
d='ramesh'
c=len(d)
print(c)
count=0
for i in d:
    count+=1
print(count)

6
6

In [1]:
a=5
b=3
print(a,b)

5 3

In [2]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [5]:
c=s=d=200
print(c+s+d)

600

In [6]:
a=int(22)
b=str(33)
print(a,type(a))
print(b,type(b))

22 <class 'int'>
33 <class 'str'>

In [7]:
a=10
del a

In [8]:
a=33
b=44
a,b=b,a
print(a)
print(b)

44
33

In [13]:
a='ramesh'
print(len(a))
len_var=0
index=0-1
for i in a:
    len_var+=1
    index+=1
print(len_var) 
print(index)

6
6
5